/** @format */
/** @format */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.header {
  min-height: 60px;
  background-color: #03060d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .nav-menu .menu-item {
  padding: 0 35px;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

/** @format */
.section-advantages {
  min-height: 791.5px;
  height: 100%;
  background-image: url(../img/advantages/background.jpeg);
}

.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages-title {
  color: #fff;
  font-size: 40px;
  margin-top: 75px;
  line-height: 57, 28px;
}

.advantages-subtitle {
  color: #999fb9;
  font-size: 16px;
  line-height: 22px;
  margin-top: 15px;
}

.advantages-button {
  max-width: 200px;
  width: 100%;
  min-height: 50px;
  height: 100%;
  margin-top: 30px;
  color: #fff;
  background: linear-gradient(93.58deg, #27abcc 0%, #69bed6 100%);
  border-radius: 5px;
  border: none;
}

.advantages .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 136px;
}

.advantages .slider .ticket {
  position: relative;
  max-width: 342px;
  width: 100%;
  min-height: 300px;
  height: 100%;
  margin: 0 43px;
  background: linear-gradient(146.2deg, #ffffff 0%, #f1f8ff 30.47%, #e1effe 100%);
  -webkit-box-shadow: 10px 10px 30px rgba(255, 255, 255, 0.1);
          box-shadow: 10px 10px 30px rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages .slider .ticket__icon {
  position: absolute;
  width: 109px;
  height: 109px;
  top: -20%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.advantages .slider .ticket__title {
  margin-top: 55px;
  font-size: 20px;
  font-weight: bold;
  line-height: 29px;
  color: #000d36;
}

.advantages .slider .ticket__text {
  padding-top: 15px;
  color: #000d36;
  font-size: 16px;
  line-height: 23px;
  opacity: 0.8;
  margin: 0 15px;
}

/** @format */
.section-about {
  padding: 120px 0 120px 0;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #000d36;
}

.about__left {
  padding-right: 61px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__left .title {
  font-size: 40px;
  line-height: 115%;
}

.about__left .text {
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  margin: 30px 0 50px 0;
}

.about__left .img {
  width: 498px;
}

.about__right {
  padding-left: 61px;
}

.about__right .text {
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 54px;
}

.about__right .img {
  width: 591px;
}

/** @format */
.section-services {
  padding: 100px 0 120px 0;
  background: #f3f7f9;
  -webkit-box-shadow: 0px 10px 20px rgba(208, 208, 208, 0.1);
          box-shadow: 0px 10px 20px rgba(208, 208, 208, 0.1);
  color: #000d36;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services .title {
  font-size: 40px;
  line-height: 57px;
}

.services .subtitle {
  font-size: 16px;
  line-height: 23px;
  padding: 20px 0 50px 0;
}

.services .tickets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services .tickets .ticket {
  min-height: 410px;
  height: 100%;
  max-width: 340px;
  width: 100%;
  margin: 0 60px 0 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services .tickets .ticket__icon {
  width: 90px;
  height: 90px;
  margin-bottom: 15px;
}

.services .tickets .ticket__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
  color: #000d36;
  margin-bottom: 15px;
}

.services .tickets .ticket__list {
  list-style: disc;
  font-size: 16px;
  line-height: 23px;
}

.services .tickets .ticket__list li {
  padding: 7.5px 0;
}

.services .tickets .ticket__list .marker__blueCircle::marker {
  color: #91c5ff;
  font-size: 100%;
}

.services .tickets .ticket__list .marker__purpleCircle::marker {
  color: #e2beff;
  font-size: 100%;
}

.services .tickets .ticket__list .marker__orangeCircle::marker {
  color: #ffd6b2;
  font-size: 100%;
}

/** @format */
.section-whyWe {
  padding: 120px 0 120px 0;
}

.whyWe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #000d36;
}

.whyWe .main__title {
  font-size: 40px;
  line-height: 57px;
  margin-bottom: 50px;
}

.functions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-height: 201px;
  padding: 0;
}

.functions .title {
  position: relative;
  font-weight: bold;
  font-size: 25px;
  line-height: 36px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  width: 100%;
  border-bottom: 2px solid #53cbca;
}

.functions .title::after {
  content: "";
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
  background-image: url(../img/whyWE/emojione-monotone_heavy-check-mark.png);
  background-repeat: no-repeat;
}

.functions .tittle__border_orange {
  position: relative;
  border-bottom: 2px solid #fcba0f;
}

.functions .tittle__border_orange::after {
  content: "";
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
  background-image: url(../img/whyWE/Vector.png);
  background-repeat: no-repeat;
}

.functions .func {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.functions .function {
  max-width: 360px;
  width: 100%;
  margin: 30px 0;
}

.functions .function__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 29px;
  margin-bottom: 10px;
}

.functions .function__text {
  font-size: 16px;
  line-height: 23px;
  opacity: 0.8;
}

/** @format */
.section-form {
  min-height: 685px;
  height: 100%;
  width: 100%;
  background-image: url(../img/form/Group.jpeg);
}

.content {
  padding: 120px 0 213px 0;
}

.content .title {
  font-size: 40px;
  line-height: 120%;
  color: #fff;
  margin-bottom: 50px;
}

.form {
  max-width: 730px;
  width: 100%;
  min-height: 254px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 16px;
  line-height: 23px;
  color: #ffffff;
}

.form ul {
  max-width: 350px;
  width: 100%;
}

.form ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form ul input {
  width: 350px;
  height: 50px;
  background: #f1f2f8;
  border-radius: 5px;
  border: none;
  margin: 5px 0 10px 0;
}

.form ul input::-webkit-input-placeholder {
  padding: 15px 0 0 15px;
  font-size: 14px;
  line-height: 20px;
  color: #a7acbd;
}

.form ul input:-ms-input-placeholder {
  padding: 15px 0 0 15px;
  font-size: 14px;
  line-height: 20px;
  color: #a7acbd;
}

.form ul input::-ms-input-placeholder {
  padding: 15px 0 0 15px;
  font-size: 14px;
  line-height: 20px;
  color: #a7acbd;
}

.form ul input::placeholder {
  padding: 15px 0 0 15px;
  font-size: 14px;
  line-height: 20px;
  color: #a7acbd;
}

.form ul select {
  width: 350px;
  height: 50px;
  background: #f1f2f8;
  border-radius: 5px;
  border: none;
  margin: 5px 0 10px;
  padding: 0 15px;
  margin: 5px 0 10px 0;
  font-size: 14px;
  line-height: 20px;
  color: #a7acbd;
}

.form ul select::-webkit-input-placeholder {
  padding: 0 0 0 15px;
}

.form ul select:-ms-input-placeholder {
  padding: 0 0 0 15px;
}

.form ul select::-ms-input-placeholder {
  padding: 0 0 0 15px;
}

.form ul select::placeholder {
  padding: 0 0 0 15px;
}

.form ul select::-ms-expand {
  display: none;
}

.form ul select option {
  font-size: 14px;
  line-height: 20px;
  color: #a7acbd;
}

.form ul textarea {
  width: 350px;
  height: 138px;
  border-radius: 5px;
  border: none;
  background: #f1f2f8;
  margin: 5px 0 10px 0;
}

.form ul textarea::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 20px;
  color: #a7acbd;
  padding: 15px 0 0 15px;
}

.form ul textarea:-ms-input-placeholder {
  font-size: 14px;
  line-height: 20px;
  color: #a7acbd;
  padding: 15px 0 0 15px;
}

.form ul textarea::-ms-input-placeholder {
  font-size: 14px;
  line-height: 20px;
  color: #a7acbd;
  padding: 15px 0 0 15px;
}

.form ul textarea::placeholder {
  font-size: 14px;
  line-height: 20px;
  color: #a7acbd;
  padding: 15px 0 0 15px;
}

.form ul .li-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form ul .user_checkbox {
  margin-right: 6px;
}

.form ul button {
  width: 350px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background: #000d36;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}

.form .right__side {
  margin-left: 15px;
}

.form .right__side input {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.form .right__side .checkbox {
  font-size: 11px;
  line-height: 130%;
}

.form .left__side {
  margin-right: 15px;
}

/** @format */
.section-contact {
  background: #282936;
  min-height: 150px;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  padding-top: 64px;
}

.contact .mail {
  font-size: 16px;
  line-height: 23px;
  text-decoration: none;
  color: #fff;
}

.contact .addres {
  font-size: 16px;
  line-height: 23px;
}

/** @format */
.section-map {
  min-height: 550px;
  height: 100%;
}

/** @format */
.footer {
  min-height: 280px;
  height: 100%;
  background-color: #282936;
  padding-top: 50px;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__content .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 270px;
  width: 100%;
}

.footer__content .block .footer__icon {
  width: 167px;
  height: 48px;
  margin-bottom: 15px;
}

.footer__content .block .img {
  width: 116px;
  height: 20px;
  margin-bottom: 18px;
}

.footer__content .block .text {
  font-size: 16px;
  line-height: 23px;
  color: #999fb9;
  margin-bottom: 53px;
}

.footer__content .block .text__copyright {
  font-size: 16px;
  line-height: 23px;
  color: #999fb9;
  opacity: 0.6;
}

.footer__content .block .footer__menu {
  font-size: 14px;
  line-height: 100%;
  color: #999fb9;
  text-decoration: none;
  padding: 6px 0;
}

.footer__content .block .footer__contact {
  font-size: 16px;
  line-height: 23px;
  color: #ffffff;
  padding-bottom: 15px;
}

/** @format */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .header .nav {
    min-width: 300px;
    width: 95%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    padding: 12px 0 12px 15px;
  }
  .header .nav .img {
    width: 128px;
  }
  .header .nav .nav-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .advantages .advantages-button {
    max-width: 290px;
    width: 100%;
    height: 50px;
  }
  .advantages .slider {
    position: relative;
    max-width: 320px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .advantages .slider .ticket {
    min-width: 290px;
    margin: 0;
    position: absolute;
  }
  .section-about {
    padding: 50px 0 50px 0;
  }
  .section-about .about {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-about .about .img {
    width: 290px;
  }
  .section-about .about .about__left {
    max-width: 290px;
    padding: 0;
    margin-bottom: 30px;
  }
  .section-about .about .about__left .title {
    font-size: 30px;
    line-height: 115%;
  }
  .section-about .about .about__left .text {
    font-size: 15px;
    line-height: 150%;
    margin: 20px 0;
  }
  .section-about .about .about__right {
    max-width: 290px;
    padding: 0;
  }
  .section-about .about .about__right .text {
    font-size: 15px;
    line-height: 150%;
    margin-bottom: 30px;
  }
  .section-services {
    padding: 50px 0;
  }
  .section-services .services {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .section-services .services .title {
    font-size: 30px;
    line-height: 120%;
    margin-left: 15px;
  }
  .section-services .services .subtitle {
    margin-left: 15px;
    font-size: 15px;
    line-height: 21px;
  }
  .section-services .services .tickets {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section-services .services .tickets .ticket {
    min-width: 290px;
    margin: 15px 0 15px 20px;
    min-height: 264px;
  }
  .section-services .services .tickets .ticket__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-services .services .tickets .ticket__header .ticket__icon {
    margin-right: 15px;
    width: 60px;
    height: 60px;
  }
  .section-services .services .tickets .ticket__header .ticket__title {
    font-size: 20px;
    line-height: 120%;
  }
  .section-services .services .tickets .ticket li {
    font-size: 15px;
    line-height: 21px;
  }
  .section-whyWe {
    padding: 50px 0;
  }
  .section-whyWe .whyWe {
    padding: 0 10px 0 15px;
  }
  .section-whyWe .whyWe .main__title {
    font-size: 30px;
    line-height: 43px;
  }
  .section-whyWe .whyWe .functions .title {
    font-size: 25px;
    line-height: 36px;
  }
  .section-whyWe .whyWe .functions .function__title {
    font-size: 20px;
    line-height: 29px;
  }
  .section-whyWe .whyWe .functions .function__text {
    font-size: 15px;
    line-height: 21px;
  }
  .section-form .content {
    padding: 50px 0;
  }
  .section-form .content .title {
    font-size: 30px;
    line-height: 120%;
    margin: 0 15px 30px 15px;
  }
  .section-form .form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-form .form ul {
    width: 90%;
  }
  .section-form .form .left__side {
    margin: 0;
  }
  .section-form .form .left__side input {
    width: 290px;
  }
  .section-form .form .left__side select {
    width: 290px;
  }
  .section-form .form .right__side {
    margin: 0;
  }
  .section-form .form .right__side textarea {
    width: 290px;
  }
  .section-form .form .right__side button {
    width: 290px;
  }
}

.section-contact .contact {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 30px;
}

.section-contact .contact .mail {
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 21px;
}

.section-contact .contact .addres {
  width: 50%;
  font-size: 15px;
  line-height: 21px;
  text-align: center;
}

.footer .footer__content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.footer .footer__content .block {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 481px) and (max-width: 1200px) {
  .header .nav {
    min-width: 300px;
    width: 95%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    padding: 12px 0 12px 15px;
  }
  .header .nav .img {
    width: 128px;
  }
  .header .nav .nav-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .advantages .advantages-button {
    max-width: 290px;
    width: 100%;
    height: 50px;
  }
  .advantages .slider {
    position: relative;
    max-width: 320px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .advantages .slider .ticket {
    min-width: 290px;
    margin: 0;
    position: absolute;
  }
  .section-about {
    padding: 50px 0 50px 0;
  }
  .section-about .about {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-about .about .img {
    width: 290px;
  }
  .section-about .about .about__left {
    max-width: 290px;
    padding: 0;
    margin-bottom: 30px;
  }
  .section-about .about .about__left .title {
    font-size: 30px;
    line-height: 115%;
  }
  .section-about .about .about__left .text {
    font-size: 15px;
    line-height: 150%;
    margin: 20px 0;
  }
  .section-about .about .about__right {
    max-width: 290px;
    padding: 0;
  }
  .section-about .about .about__right .text {
    font-size: 15px;
    line-height: 150%;
    margin-bottom: 30px;
  }
  .section-services {
    padding: 50px 0;
  }
  .section-services .services {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .section-services .services .title {
    font-size: 30px;
    line-height: 120%;
    margin-left: 15px;
  }
  .section-services .services .subtitle {
    margin-left: 15px;
    font-size: 15px;
    line-height: 21px;
  }
  .section-services .services .tickets {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section-services .services .tickets .ticket {
    min-width: 290px;
    margin: 15px 0 15px 20px;
    min-height: 264px;
  }
  .section-services .services .tickets .ticket__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-services .services .tickets .ticket__header .ticket__icon {
    margin-right: 15px;
    width: 60px;
    height: 60px;
  }
  .section-services .services .tickets .ticket__header .ticket__title {
    font-size: 20px;
    line-height: 120%;
  }
  .section-services .services .tickets .ticket li {
    font-size: 15px;
    line-height: 21px;
  }
  .section-whyWe {
    padding: 50px 0;
  }
  .section-whyWe .whyWe {
    padding: 0 10px 0 15px;
  }
  .section-whyWe .whyWe .main__title {
    font-size: 30px;
    line-height: 43px;
  }
  .section-whyWe .whyWe .functions .title {
    font-size: 25px;
    line-height: 36px;
  }
  .section-whyWe .whyWe .functions .function__title {
    font-size: 20px;
    line-height: 29px;
  }
  .section-whyWe .whyWe .functions .function__text {
    font-size: 15px;
    line-height: 21px;
  }
  .section-form .content {
    padding: 50px 0;
  }
  .section-form .content .title {
    font-size: 30px;
    line-height: 120%;
    margin: 0 15px 30px 15px;
  }
  .section-form .form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-form .form ul {
    width: 90%;
  }
  .section-form .form .left__side {
    margin: 0;
  }
  .section-form .form .left__side input {
    width: 290px;
  }
  .section-form .form .left__side select {
    width: 290px;
  }
  .section-form .form .right__side {
    margin: 0;
  }
  .section-form .form .right__side textarea {
    width: 290px;
  }
  .section-form .form .right__side button {
    width: 290px;
  }
}

.section-contact .contact {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 30px;
}

.section-contact .contact .mail {
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 21px;
}

.section-contact .contact .addres {
  width: 50%;
  font-size: 15px;
  line-height: 21px;
  text-align: center;
}

.footer .footer__content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.footer .footer__content .block {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */