/** @format */

.section-contact {
  background: #282936;
  min-height: 150px;
}
.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  padding-top: 64px;
  .mail {
    font-size: 16px;
    line-height: 23px;
    text-decoration: none;
    color: #fff;
  }
  .addres {
    font-size: 16px;
    line-height: 23px;
  }
}
