/** @format */

.section-form {
  min-height: 685px;
  height: 100%;
  width: 100%;
  background-image: url(../img/form/Group.jpeg);
}

.content {
  padding: 120px 0 213px 0;
  .title {
    font-size: 40px;
    line-height: 120%;
    color: #fff;
    margin-bottom: 50px;
  }
}
